<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUIK STOCK</title>

    <link rel="icon" href="./imgs/logotitle.png" type="image/icon type">


    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>

    <nav class="nav-3">
            <div class="nav-container">
                <a href="indexquik">
                    <!-- <img src="./imgs/logoflash 2.png" class="logonav"> -->
                </a>  
                <!-- <H1 class="title-stockmain"><sub>STOCK</sub></H1>  -->
                <div class="acc" id="Avatar">
              
                </div>
                <div class="btn-group">
                  <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  </button>
                  <ul class="dropdown-menu text-center" style="background: rgb(255, 255, 255); border: 1.5px solid black; cursor: pointer;">
                    <li><a  class="dropdown-item" style="font-size:20px" ><%= name %> </a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a href="logout" style="color: red;">Logout</a></li>
                  </ul>
                </div>

            </div>
    </nav>

      <div class="container-2">
        <div class="sidebar">
          <button class="menu-bar5" onclick="document.location='/'"><i class="fa-solid fa-backward"></i> HOMEPAGE </button> 
          <h4><b>MENU</b></h4>
          <button onclick="buyproduct()"  class="menu-bar3"  >
            <i class="fa-solid fa-download"></i> IN STOCK
          </button>
          <button onclick="sellproduct()" class="menu-bar2"  >
            <i class="fa-solid fa-upload"></i> OUT STOCK
          </button>
          <button   class="menu-bar4" data-bs-toggle="modal" data-bs-target="#modaladd">
            <i class="fa-brands fa-dropbox"></i> ADD NEW PRODUCT
          </button>
            <p>
            <h4><i class="fa-solid fa-exclamation"></i><b>Receipt & Info</b></h4>
            <input  onfocus="this.value=''" class="info" id="invoid" type="text" style="text-align: center;" placeholder="กรอกข้อมูลอ้างอิง">
            <input  onfocus="this.value=''" class="info" id="customer_name" type="text" style="text-align: center;" placeholder="ชื่อลูกค้า">

        </div>
 
      <div class="productcontainer"> 
        <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Product Name</th>
                <th scope="col">Image</th>
                <th scope="col">Quantity</th>
                <th scope="col">Count</th>
              </tr>
            </thead>
            <tbody id="tbody">
              <tbody>
                
              </tbody>  
            </tbody>
        </table>      
    </div>

        <div class="container2">
            <h4><b> REPORT & HISTORY</b></h4>
             
            <button class="menu-bar7" onclick="document.location='HistoryBuyPageQuik'"><i class="fa-solid fa-clock-rotate-left"></i> IN </button> 
            <button class="menu-bar7" onclick="document.location='HistorySellPageQuik'"><i class="fa-solid fa-clock-rotate-left"></i> OUT </button>
           
            <p></p>
            <button class="menu-bar7" onclick="document.location='rpaquik'"><i class="fa-solid fa-table-cells"></i> All Product</button>
          </div>
        </div>
      
    
    <!--modal Add Product-->
    <div id="modaladd" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header3">
              <h5 class="modal-title">Add Product</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <input  id="txtaddmodal" type="text" class="form-control" placeholder="Product Name">
              <br>
              <input id="txtaddquantity" type="text" class="form-control" placeholder="Quantity">
            </div>
            <div class="modal-footer">
              <button  id="closeaddmodal" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button onclick="saveproduct()" type="button" class="btn btn-primary">Save changes</button>
              
            </div>
          </div>
        </div>
      </div>
      

      <!--modal edit-->
    <div id="modaledit" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Edit Product</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <input id="txteditmodalname" type="text" class="form-control" placeholder="Product Name">
              <br>
              <input id="txteditmodalquantity" type="text" class="form-control" placeholder="Product Quantity">
              <br>
              <input id="txteditmodalImg" type="text" class="form-control" placeholder="Product Img">
            </div>
            <div class="modal-footer">
              <button id="closeeditmodal" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button  onclick="updateproduct()" type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
      
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script>
      
        var data;
        var productid = 0;
        var buydata;
        var selldata;
        var vinildata;
        var dataImg;
        let res = {};
        let res_2 ={};
        let res_3 ={};
        let ves = {};
        let ves_2 = {};
        let ves_3 = {};
        
        $(document).ready(() =>{
          render();
          renderImg()        
        })

         //get img
          function renderImg() {
            $.ajax({
                  method: 'get',
                  url:'http://localhost:3000/getImg',
                  success: (response) => {
                      
                      console.log('Render Avatar !', response)
                      if(response.resCode == 200) {
                          dataImg = response.Result;
                          if(dataImg.length > 0) {
                            var html = '';
                            for (let i = 0; i < dataImg.length; i++) {
                              html += `
                              <img class="image" src="${dataImg[i].img}" alt="">
                              
                              `;
                            }   
                            $("#Avatar").html(html)                                          
                        }
                      }
                  }, error:(err) => {
                      console.log('bad', err)
                  }
              }) 
          }

        //get
        function render() {
          $.ajax({
                method: 'get',
                url:'http://localhost:3000/api/getquik',
                success: (response) => {
                    console.log('Render Quik !', response)
                    if(response.resCode == 200) {
                        data = response.Result;
                        if(data.length > 0) {
                          var html = '';
                          for (let i = 0; i < data.length; i++) {
                            html += `
                              <tr>
                                <th scope="row">${i+1}</th>
                                <td>${data[i].name}</td>
                                <td><img class="image" src="${data[i].img}" alt=""></td>
                                <td>${data[i].quantity} ชิ้น</td> 
                                <td>
                                  <p>
                                    <input  class="count" style="width:90px;" type="number" value ="0" id="totalClicks${i}" min="0" >
                                    <button onclick="totalClicks(0,${i})" class="buttontrade">RESET</button>
                                  </p>
                                </td>
                                <td>
                                <button onclick="editproduct(${data[i].id}, ${i})" type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modaledit">Edit</button>
                                </td>
                                <td>
                                <button onclick="deleteproduct(${data[i].id}, ${i}, '${data[i].name}')" type="button" class="btn btn-danger">Delete</button>
                                </td>
                              </tr>
                            `;
                          }   
                          $("#tbody").html(html)                                          
                      }
                    }
                }, error:(err) => {
                    console.log('bad', err)
                }
            }) 
        }
        

      
       

        //create
        function saveproduct() {
          $.ajax({
            method: 'post',
            url:'http://localhost:3000/api/createstockquik',
            data: {
              name: $("#txtaddmodal").val(),
              quantity: $("#txtaddquantity").val(),
              img: $("#txtaddquantity").val(),
            }, success: (response) => {
                console.log('good', response)
                if(response.resCode == 200) {
                  Swal.fire({
                    icon: 'success',
                    title:'Add Product Complete'
                  })
                  $("#closeaddmodal").trigger('click')
                  render();
                }
            }, error: (err) => {
                console.log('bad', err)
            }
          })
        }
        
        function editproduct(pid, index) {
          $("#txteditmodalname").val(data[index].name);
          $("#txteditmodalquantity").val(data[index].quantity);
          $("#txteditmodalImg").val(data[index].img);
          productid = pid;
        }
 
        //update
        function updateproduct() {
          $.ajax({
            method: 'put',
            url: 'http://localhost:3000/api/updatestockquik',
            data:{
              id: parseInt(productid),
              name: $("#txteditmodalname").val(),
              quantity: $("#txteditmodalquantity").val(),
              img: $("#txteditmodalImg").val()
            }, success: (response) => {
              console.log('good', response)
              if(response.resCode == 200) {
                Swal.fire({
                  icon: 'success',
                  title: 'Update successfuly'
                })
                $("#closeeditmodal").trigger('click')
                render();
              }
            }, error: (err) => {
              console.log('bad',err)
            }
          })
        }

          function getTime() {
            const date = new Date();
            return date.getFullYear()
                    + '-' +
                    date.getMonth()
                    + '-' +
                    date.getDate()
                    + ' ' +
                    date.getHours()
                    + ':' +
                    date.getMinutes()
                    + ':' +
                    date.getSeconds();
          }

            //buy
            function buyproduct(){
               Swal.fire({
                title: 'Do you want to save buy changes?',
                showDenyButton: false,
                showCancelButton: true,
                confirmButtonText: 'Save',
                denyButtonText: `Don't save`,
               }).then((result) => {
                 if (result.isConfirmed) {
                  for (let i = 0; i < data.length; i++) {
                      if($(`#totalClicks${i}`).val() !=0 ){ 
                        console.log (parseInt(data[i].quantity) + parseInt($(`#totalClicks${i}`).val()))
                        $.ajax({
                          method: 'put',
                          url: 'http://localhost:3000/api/updatestockquik',
                          data:{
                            id: parseInt(data[i].id),
                            name: data[i].name,
                            quantity: parseInt(data[i].quantity) + parseInt($(`#totalClicks${i}`).val())
                          }, 
                          success: (response) => {
                            console.log('good', response)
                            if(response.resCode == 200) {
                              $.ajax({
                                method: 'post',
                                url: 'http://localhost:3000/api/insertstockquik',
                                data: {
                                  Date: getTime(),
                                  stockname: data[i].name,
                                  quantity: parseInt($(`#totalClicks${i}`).val()),
                                  invoid_no: $("#invoid").val(),
                                  customer_name: $("#customer_name").val()
                                }, 
                                  success: (response) => {
                                    temp = {
                                        id: parseInt(data[i].id),
                                        Date: getTime() ,
                                        stockname: data[i].name,
                                        quantity: parseInt($(`#totalClicks${i}`).val()),
                                        invoid_no: $("#invoid").val()
                                    }
                                    console.log("temp",temp)
                                    $("#closeeditmodal").trigger('click')
                                    render();
                                    ClearFields();  
                                    ClearFields2();  
                                  }       
                              })
                            }
                          }, 
                          error: (err) => {
                            console.log('bad',err)   
                          }
                        })
                      }
            }
                  Swal.fire('Saved!', '', 'success')
                } else if (result.isDenied) {
                  Swal.fire('Changes are not saved', '', 'info')
                }
              })
          }

            //sell
            function sellproduct(){
               Swal.fire({
                title: 'Do you want to save sell changes?',
                showDenyButton: false,
                showCancelButton: true,
                confirmButtonText: 'Save',
                denyButtonText: `Don't save`,
               }).then((result) => {
                 if (result.isConfirmed) {
                  for (let i = 0; i < data.length; i++) {
                      if($(`#totalClicks${i}`).val() !=0 ){ 
                        console.log (parseInt(data[i].quantity) + parseInt($(`#totalClicks${i}`).val()))
                        $.ajax({
                          method: 'put',
                          url: 'http://localhost:3000/api/updatestockquik',
                          data:{
                            id: parseInt(data[i].id),
                            name: data[i].name,
                            quantity: parseInt(data[i].quantity) - parseInt($(`#totalClicks${i}`).val())
                          }, 
                          success: (response) => {
                            console.log('good', response)
                            if(response.resCode == 200) {
                              $.ajax({
                                method: 'post',
                                url: 'http://localhost:3000/api/insertsellstockquik',
                                data: {
                                  Date: getTime(),
                                  stockname: data[i].name,
                                  quantity: parseInt($(`#totalClicks${i}`).val()),
                                  invoid_no: $("#invoid").val(),
                                  customer_name: $("#customer_name").val()
                                }, 
                                  success: (response) => {
                                    temp = {
                                        id: parseInt(data[i].id),
                                        Date: getTime() ,
                                        stockname: data[i].name,
                                        quantity: parseInt($(`#totalClicks${i}`).val()),
                                        invoid_no: $("#invoid").val()
                                    }
                                    console.log("temp",temp)
                                    $("#closeeditmodal").trigger('click')
                                    render();
                                    ClearFields();  
                                    ClearFields2();  
                                  }       
                              })
                            }
                          }, 
                          error: (err) => {
                            console.log('bad',err)   
                          }
                        })
                      }
                   }
                  Swal.fire('Saved!', '', 'success')
                } else if (result.isDenied) {
                  Swal.fire('Changes are not saved', '', 'info')
                }
              })
            
          }
        
        //delete
        function deleteproduct(pid, index, name){
          Swal.fire({
              icon: "warning",
              title: 'Are you sure to delete '+ name +'?',
              showConfirmButton: false,
              showDenyButton: true,
              showCancelButton: true,
              confirmButtonText: 'Save',
              denyButtonText: `Delete`,
          }).then((result) => {
              if (result.isDenied) {
                $.ajax({
                  method: 'delete',
                  url: 'http://localhost:3000/api/deletestockquik',
                  data: {
                    id: pid
                  }, success: (response) => {
                    console.log('good', response)
                    if(response.resCode == 200) {
                      Swal.fire('Changes are saved', '', 'success')
                      render();
                    }
                  }, error: (err) =>{
                    console.log('bad', err)
                  }
                })
                
              }
          })
        }

        $(function(){
            $('#Set1BodyT').change(function(){
              var display =$("#Set1BodyT option:selected").text();
              $('#textresulte').val(display);
            })
        })



        function totalClicks(click, totalid) {
          const totalClicks = document.getElementById("totalClicks"+totalid);
          const sumvalue = parseInt(totalClicks.value) +click;
          console.log(sumvalue + click);
          totalClicks.value = sumvalue;
          console.log (totalClicks);

          // avoid
          if(totalid < 0) {
            totalClicks.value = 0;
          }
          //Reset valute
          if(click === 0){
            totalClicks.value = 0;
          }
        }      

        function totalClicks2(click, totalid) {
          const totalClicks2 = document.getElementById("totalClicks2"+totalid);
          const sumvalue = parseInt(totalClicks2.value) +click;
          console.log(sumvalue + click);
          totalClicks2.value = sumvalue;
          console.log (totalClicks2);

          // avoid
          if(totalid < 0) {
            totalClicks2.value = 0;
          }
          //Reset valute
          if(click === 0){
            totalClicks2.value = 0;
          }
        }      
        
        function ClearFields(){
          document.getElementById("invoid").value = "";
        }
        function ClearFields2(){
          document.getElementById("customer_name").value = ""; 
        }

        function gettimetodate(Date) {
          Date = parseInt(Date)
          var d = new Date(Date)
          var dd = d.getDate() < 10 ? '0'+d.getDate() : d.getDate();
          var dm = (d.getMonth() < 10 ? '0'+d.getMonth() : d.getMonth()+1);
          var dy = d.getFullYear();
          var th = d.getHours() < 10 ? '0'+d.getHours() : d.getHours();
          var tm = d.getMinutes() < 10 ? '0'+d.getMinutes() : d.getMinutes();
          var ts = d.getSeconds() < 10 ? '0'+d.getSeconds() : d.getSeconds();

          return `${dd}/${dm}/${dy} ${th}:${tm}:${ts}`

        }




    </script>
</body>
</html>
