<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ReqReport</title>
    
        <link rel="icon" href="./imgs/logotitle.png" type="image/icon type">
    
    
        <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="index.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    </head>
    
<body>

    <nav class="nav-5">
        <div class="nav-container">
            <a href="Requisition">
                <H1 class="title-stockmain"><sub>REQUISITION REPORT</sub></H1> 
                <div class="acc" id="Avatar">
            </a>  
            
          
            </div>
            <div class="btn-group">
              <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              </button>
              <ul class="dropdown-menu text-center" style="background: rgb(255, 255, 255); border: 1.5px solid black; cursor: pointer;">
                <li><a id="accname" class="dropdown-item" style="font-size:20px" ><%= name %></a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a href="logout" style="color: red;">Logout</a></li>
              </ul>
            </div>

        </div>
</nav>
    
    <div class="AllTable"> 
        <table id="Table1" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>productname</th>
                    <th>detail</th>
                    <th>total</th>
                    <th>acc</th>
                    <th>status</th>
                </tr>
            </thead>
            <tbody>
                
            
            </tbody>
        </table>  
    </div>
  

</body>
</html>

<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script>


    var dataImg;
    var data;
    var selldata;

    $(document).ready(function () {
        $('#Table1').DataTable( {
            ajax: {
                url: 'http://localhost:3000/api/getrequisition',
                dataSrc: 'Result'
            },
            columns: [
                { data: 'productnames' },
                { data: 'detail' },
                { data: 'total' },
                { data: 'acc' },
                { data: 'status' },
                
            ]
        } );

        renderImg()
    });

    //get img
    function renderImg() {
            $.ajax({
                  method: 'get',
                  url:'http://localhost:3000/getImg',
                  success: (response) => {
                      
                      console.log('Render Img !', response)
                      if(response.resCode == 200) {
                          dataImg = response.Result;
                          if(dataImg.length > 0) {
                            var html = '';
                            for (let i = 0; i < dataImg.length; i++) {
                              html += `
                              <img class="image" src="${dataImg[i].img}" alt="">
                              
                              `;
                            }   
                            $("#Avatar").html(html)                                          
                        }
                      }
                  }, error:(err) => {
                      console.log('bad', err)
                  }
              }) 
          }



</script>